[submodule "codemirror2"]
	path = codemirror2
	url = https://github.com/marijnh/CodeMirror.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "coffee-script"]
	path = coffee-script
	url = https://github.com/jashkenas/coffee-script.git
