*~
.*.sw?
.#*
.DS_Store

.build
/gh-pages
/*.app
/youscript-*.tar.gz
/youscript-*.sh
/youscript-*.dmg

/.depends/*
!/.depends/*.depends
!/.depends/*.commands
!/.depends/*.paths
!/.depends/*.test.sh
!/.depends/*.sh
!/.depends/*.txt

